# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

ios/Flutter
android/local.properties

# Flutter/Dart/Pub related
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
